
body {
    background-color: rgb(247, 238, 238);
}

.page-body-wrapper {
    background-color: black;
}

.task-list-wrapper {
    flex: 1;
    margin: 0 10px 10px;
  }
  
  .list-title {
    color: var(--secondary);
    font-size: 1.6rem;
  }
  
  .task-list {
    list-style: none;
    padding: 5px 0 0 0;
    height: calc(100% - 50px);
    background: rgb(196, 196, 196);
    border-radius: 12px;
    border: 2px solid var(--grey);
  }
  
  .task-item {
    color: var(--grey);
    padding: 15px 15px;
    border: 2px solid var(--grey);
    background: var(--tertiary);
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .task-name {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .task-type {
    color: var(--secondary);
    font-size: 0.85rem;
    opacity: 75%;
  }
  .task-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 5px 0;
    justify-content: space-between;
  }

  #tasktype {
    appearance: none;
  }

  .select-dropdown{
    appearance: none;
  }